<div class="table">
    @foreach (var p in Model.Players)
    {
        <label>@p.Name</label>
    }
    @if (Model.Status != (int)GameStatus.InProcess && Model.Players.Length < 6)
    {
        <button class="btn btn-info" @onclick="() => OnJoin.InvokeAsync(Model.Id)">Подсесть</button>
    }
    <InvitePopup Table="Model.Id" />
</div>

@code {
    [Parameter, EditorRequired] public TableModel Model { get; set; } = default!;
    [Parameter] public EventCallback<Guid> OnJoin { get; set; }
}
