@page "/Error"
@using System.Diagnostics

<PageTitle>Ошибка</PageTitle>

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">При обработке запроса произошла ошибка.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Идентификатор запроса:</strong> <code>@RequestId</code>
    </p>
}

<h3>Режим разработки</h3>
<p>
    Переключение в окружение <strong>Development</strong> покажет подробную информацию о возникшей ошибке.
</p>
<p>
    <strong>Окружение Development не следует включать на развёрнутых приложениях.</strong>
    Это может раскрыть конечным пользователям конфиденциальные данные из исключений.
    Для локальной отладки включите окружение <strong>Development</strong>, задав переменную среды
    <strong>ASPNETCORE_ENVIRONMENT</strong> в значение <strong>Development</strong>, и перезапустите приложение.
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
