<div id="accountContainer">
    <label type="text" id="nameLabel"></label>
    <div id="loginBlock">
        <input type="text" id="nameInput" placeholder="Имя" />
        <button class="btn btn-info" onclick="login()">Войти</button>
    </div>
    <button class="btn btn-info" id="logoutBtn" onclick="logout()">Выйти</button>
</div>
<div id="tableMain">
    <button class="btn btn-success" id="createTableBtn" onclick="createTable()">Создать стол</button>
    <button class="btn btn-warning" id="leaveFromTableBtn" onclick="leaveFromTable()">Выйти из за стола</button>
    <div id="tables">
    </div>
</div>
<div id="main" class="hidden">
    <button id="startGame" class="btn btn-info hidden" onclick="startGame()">Начать игру</button>
    <div id="myIcon"></div>
    <div id="hand"></div>
    <div id="actions">
        <button id="startattackCards" class="btn btn-info hidden" onclick="startAttack()">Сходить</button>
        <button id="attackCards" class="btn btn-info hidden" onclick="attack()">Подкинуть</button>
        <button id="defenceCards" class="btn btn-info hidden" onclick="defence()">Отбить</button>
        <button id="takeCards" class="btn btn-info hidden" onclick="take()">Забрать карты</button>
        <button id="successDefenceCards" class="btn btn-info hidden" onclick="successDefence()">Конец раунда</button>
    </div>
    <div id="field"></div>
    <div id="deck">
        <div id="deckCards"></div>
        <div id="trumpInfo"></div>
    </div>
    <div id="players"></div>
</div>
<div class="hidden">
    <div class="play-card template-card">
        <div class="card-rank">J</div>
        <div class="card-suit">♦</div>
    </div>
    <div class="card-back template-card-back">
    </div>
    <div class="table template-table">
        <button class="btn btn-info" onclick="joinToTableClick(this)">Подсесть</button>
    </div>
    <div class="player template-player">
        <img src="~/images/player.png" />
        <label class="player-name"></label>
        <div class="player-cards"></div>
    </div>
</div>
<div class="container">
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
