#main {
    padding: 10px 0;
}

.hidden {
    display: none;
}

#accountContainer {
    position: absolute;
    right: 20px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    background: lightgray;
}

#accountContainer.not-auth {
    position: initial;
    max-width: 306px;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
}

.table {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 1px solid darkgray;
    background-color: lightgray;
}

.table.active {
    border: 1px solid blue;
}

.table label {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#hand {
    text-align: center;
}

#deck {
    position: relative;
    margin-top: 20px;
    text-align: center;
}

#field {
    position: relative;
    min-height: 150px;
    margin-top: 20px;
    text-align: center;
}

#trumpInfo {
    display: inline-block;
}

#actionsUp {
    min-height: 38px;
    text-align: center;
}

#actions {
    text-align: center;
}

#actions button {
    width: 180px;
    margin: 10px 10px 0 10px;
}

.field-card {
    position: relative;
    display: inline-block;
    margin-right: 15px;
}

.defence-card {
    position: absolute;
    top: 40px;
    left: 10px;
}

.play-card,
.card-back.show-card {
    background: skyblue;
}

.play-card {
    display: inline-block;
    width: 60px;
    height: 100px;
    margin-top: 10px;
    border: 1px solid black;
}

.play-card div {
    display: inline-block;
}

.play-card .card-suit {
    font-size: 30px;
}

.play-card .card-rank {
    font-size: 28px;
}

.play-card.active {
    margin-top: 5px;
    border: 2px solid blue;
}

.card-back {
    position: relative;
    border: 1px solid black;
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}

.card-back.show-card .card-rank {
    font-size: 24px;
    position: absolute;
    top: 5px;
    left: 7px;
}

.card-back.show-card .card-suit {
    font-size: 15px;
    position: absolute;
    top: -3px;
    right: 2px;
    display: inline-block;
}

#deck .card-back {
    font-size: 36px;
    position: absolute;
    top: 50px;
    left: calc(50% - 50px);
    width: 100px;
    height: 60px;
    color: white;
}

#players {
    text-align: center;
}

.player {
    display: inline-block;
    margin: 20px;
}

.player img {
    max-width: 64px;
    max-height: 64px;
}

.player .player-name {
    display: block;
    overflow: hidden;
    max-width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.player .card-back {
    display: inline-block;
    width: 15px;
    height: 50px;
}

.player .card-back:last-child {
    width: 30px;
}

.player.active-player img {
    border: 1px solid rgb(1, 222, 1);
    background: rgba(1, 222, 1, 0.3);
}

.player.defence-player img {
    border: 1px solid rgb(1, 1, 222);
    background: rgba(1, 1, 222, 0.3);
}

.player.leave-player img {
    border: 1px solid rgb(222, 1, 1);
    background: rgba(222, 1, 1, 0.3);
}

.player .speak-text {
    font-size: 15px;
    display: block;
    margin-bottom: 7px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightcoral;
}

#myIcon {
    text-align: center;
}

#myIcon .player {
    margin: 0;
}

#leaveFromTableBtn {
    background: RGBA(354, 75, 86, 0.75);
}
